.EEN_L {
  background-color: #0E446D;
  padding-bottom: 5%;
}

form h1 {
  font-size: 22px;
  width: 80%;
  margin: 0% 10% 5% 10%;
  text-align: center;
  color: white;
}

.Zoekbalk {
  height: 30px;
  border: none;
  width: 80%;
  margin: 0% 10%;
  padding: 0;
}

.button_M {
  border-radius: 0;
  font-family: 'montserratbold';
  padding: 0;
  border: none;
  color: white;
  box-sizing: border-box;
  background-color: #F0652F;
  height: 30px;
  border: none;
  width: 80%;
  margin: 2% 10%;
}

.EEN_L .button {
  display: none;
}

select {
  font-family: 'montserratregular';
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: white;
  height: 30px;
  border: none;
  width: 80%;
  margin: 2% 10%;
}

.weergave-e {
  background-color: #E2E0DF;
  height: 1em;
  padding: 1em 10% 1em;
  display: none;
}

.weergave-e p {
  font-family: 'montserratregular';
  font-size: 1em;
  text-align: left;
}

body h1 {
  font-family: 'montserratbold';
  font-size: 2em;
  text-align: center;
  padding: .5em;
}

.sorteren-e {
  display: none;
}

.panden-vergelijken-e {
  background-color: #F0652F;
}

.panden-vergelijken-e ul {
  display: none;
}

.panden-vergelijken-e p {
  display: none;
}

.panden-vergelijken-e input {
  display: none;
}

.panden-vergelijken-e h3 {
  font-family: 'montserratregular';
  color: white;
  padding: .5em;
  text-align: center;
}

.huis-e img {
  width: 100%;
  display: block;
}

.huis-e h3 {
  font-family: 'montserratregular';
  background-color: #58595B;
  padding: .5em;
  text-align: center;
  color: white;
}

.beschrijving-e {
  display: none;
}

.prijs-e p:first-of-type {
  font-family: 'montserratregular';
  background-color: #1E7BB7;
  color: white;
  text-align: center;
  padding: .5em;
}

.prijs-e p:last-of-type {
  font-family: 'montserratregular';
  background-color: #0E446D;
  color: white;
  text-align: center;
  padding: .5em;
}

.foto-e {
  display: none;
}

.aanbod-e p {
  font-family: 'montserratregular';
  background-color: #F0652F;
  color: white;
  text-align: center;
  padding: .7em;
}

.icoon-e {
  display: none;
}

.scroll-e {
  width: 700%px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-e img {
  height: 100%;
  width: 90%;
  display: inline;
  white-space: nowrap;
}

.in-de-kijker-e {
  margin: 1em 0;
}

@media screen and (min-width: 650px) {
  .EEN_L {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-image: url("../images/Homepage/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .EEN_L h1 {
    margin-top: 0%;
    margin-left: 10%;
  }
  .Zoekbalk {
    height: 40px;
    width: 70%;
    margin: 0% 0% 0% 10%;
  }
  .EEN_L .button {
    display: inline;
    height: 40px;
    width: 8%;
    margin: 0% 0%;
    border-radius: 0px;
    font-family: 'montserratbold';
    padding: 0;
    border: none;
    color: white;
    box-sizing: border-box;
    background-color: #F0652F;
  }
  .details {
    width: 70%;
    margin-left: 10%;
  }
  .EEN_L .button_M {
    display: none;
  }
  .type_vastgoed {
    margin-left: 0%;
  }
  select {
    height: 40px;
    width: 32.5%;
    margin: 0.5% 0%;
  }
  .weergave-e {
    display: block;
  }
  .weergave-e img {
    margin: 0 .5em;
    width: 2em;
    height: 2em;
  }
  .weergave-e ul li {
    float: left;
    display: inline-block;
  }
  .weergave-e p {
    margin: 0 0.5em 0 0;
  }
  .huis-e {
    height: 10em;
    margin: 3%;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #58595B;
    border-radius: 7px;
  }
  .huis-e img {
    width: auto;
    height: 8em;
    float: left;
    margin: 1em;
    max-width: 177.42px;
  }
  .huis-e h3 {
    background-color: transparent;
    padding: 1em;
    text-align: left;
    color: black;
  }
  .beschrijving-e {
    display: block;
    float: left;
    font-family: 'montserratlight';
    font-size: 14px;
  }
  .prijs-e p:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0em 1em 0em 25em;
  }
  .prijs-e p:last-of-type {
    margin: 0em 1em 0em 25em;
  }
  .aanbod-e p {
    margin: 0em 1em 0em 25em;
    padding: .5em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .scroll-e {
    width: 700%px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .scroll-e img {
    height: auto;
    width: 40%;
    display: inline;
    white-space: nowrap;
  }
  .in-de-kijker-e {
    margin: 1em;
  }
}