          body {
          width: 100%;
        }
        
        h2 {
          color: #1E7BB7;
        }
        
        p {
          font-weight: 400;
          font-size: 0.7em;
        }
        
        header {
          background-color: transparent;
        }
        
        .OverLay {
          display: none;
        }
        /*---------------------------------*/
        
        .EEN_L {
          background-color: #0E446D;
          padding-bottom: 20%;
        }
        
        h1 {
          width: 80%;
          margin: 0% 20% 5% 10%;
          text-align: center;
          color: white;
        }
        
        .Zoekbalk {
          height: 30px;
          border: none;
          width: 80%;
          margin: 0% 10%;
          padding: 0;
        }
        
        .button_M {
          border-radius: 0;
          font-family: 'montserratbold';
          padding: 0;
          border: none;
          color: white;
          box-sizing: border-box;
          background-color: #F0652F;
          height: 30px;
          border: none;
          width: 80%;
          margin: 2% 10%;
        }
        
        .button {
          border-radius: 0;
          font-family: 'montserratbold';
          padding: 0;
          border: none;
          color: white;
          box-sizing: border-box;
          background-color: #F0652F;
          height: 30px;
          border: none;
          width: 80%;
          margin: 2% 10%;
        }
        
        .EEN_L .button {
          display: none;
        }
        
        select {
          font-family: 'montserratregular';
          padding: 0;
          border: none;
          box-sizing: border-box;
          background-color: white;
          height: 30px;
          border: none;
          width: 80%;
          margin: 2% 10%;
        }
        /*-----------------------------------*/
        
        .TWEE_L {
          padding-bottom: 10%;
        }
        
        .TWEE_L h1 {
          margin-top: 10%;
          color: #0E446D;
        }
        
        .TWEE_L h2 {
          text-align: center;
          margin: 10% 0 5% 0;
        }
        
        .TWEE_L img {
          width: 80%;
          margin-left: 5%;
          margin: 0 10% 4% 10%;
        }
        
        .TWEE_L p {
          text-align: center;
          margin: 5% 5% 5% 5%;
        }
        
        .TWEE_L button {
          width: 90%;
          margin-left: 5%;
        }
        /*--------------------------------*/
        
        .DRIE_L {
          background-color: #e6e6e6;
          padding-bottom: 10%;
        }
        
        .DRIE_L h1 {
          padding-top: 10%;
          color: #0E446D;
        }
        
        .DRIE_L img {
          width: 80%;
          display: inline;
          padding: 0 10% 4% 10%;
        }
        
        figure {
          position: relative;
        }
        
        figcaption {
          opacity: 0.8;
          width: 80%;
          height: 10%;
          line-height: 2;
          padding-bottom: 5%;
          text-align: center;
          background-color: #0E446D;
          position: absolute;
          top: 0;
          margin-left: 10%;
          color: white;
        }
        /*--------------------SOCIAL MEDIA------*/
        
        .VIER_L {
          background-color: #cccccc;
        }
        
        .VIER_L h1 {
          padding-top: 10%;
          color: #0E446D;
        }
        
        .VIER_L h2 {
          width: 100%;
          margin: 0% 0% 5% 0%;
          text-decoration: underline;
          color: #1E7BB7;
        }
        
        .Fb {
          width: 100%;
          margin: 0% 0% 0% 0%;
        }
        
        .like {
          display: none;
        }
        
        iframe {
          width: 100%
        }
        
        .VIER_L .logo_L {
          width: 20%;
          height: 20%;
          margin-bottom: 0%;
        }
        
        .VIER_L hr {
          margin-top: 0%;
        }
        
        .VIER_L p {
          width: 80%;
          margin-left: 10%;
        }
        
        .logo_L {
          width: 10%;
          height: 10%;
        }
        
        .twitter {
          display: none;
        }
        
        .tweet {
          width: 100%;
          background-color: white;
        }
        
        .twitter-tweet {
          margin-bottom: 0;
          border: 0;
        }
        
        .LinkedIN {
          margin-top: -10px;
          width: 100%;
        }
        /*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------MEDIA-------*/
        
        @media screen and (min-width: 650px) {
          .EEN_L {
            box-sizing: border-box;
            background: fixed;
            height: 100%;
            width: 100%;
            background-image: url("../images/Homepage/Background.png");
            background-size: cover;
            background-repeat: no-repeat;
          }
          .EEN_L h1 {
            margin-top: 15%;
          }
          .Zoekbalk {
            height: 40px;
            width: 70%;
            margin: 0% 0% 0% 10%;
          }
          .EEN_L .button {
            display: inline;
            height: 40px;
            width: 8%;
            margin: 0% 0%;
            border-radius: 0px;
            font-family: 'montserratbold';
            padding: 0;
            border: none;
            color: white;
            box-sizing: border-box;
            background-color: #F0652F;
          }
          .details {
            width: 70%;
            margin-left: 10%;
          }
          .EEN_L .button_M {
            display: none;
          }
          .type_vastgoed {
            margin-left: 0%;
          }
          select {
            height: 40px;
            width: 32.5%;
            margin: 0.5% 0%;
          }
          /*------------------------------------*/
          .OverLay {
            display: block;
            z-index: -2;
            padding-bottom: 70%;
            width: 100%;
            position: absolute;
          }
          .Appear {
            display: block;
            z-index: -1;
            padding-bottom: 70%;
            width: 100%;
            position: absolute;
            background-color: white;
            -webkit-transition: width 2s;
            transition: width 2s;
          }
          .TWEE_L:hover .Appear {
            width: 0%;
          }
          .TWEE_L {
            padding-bottom: 70%;
          }
          .TWEE_L h1 {
            width: 80%;
            margin: 5% 20% 0% 10%;
            text-align: center;
            font-size: 40px;
          }
          .BOL1 {
            float: left;
            width: 25%;
            margin-top: 0%;
            margin-right: 0;
            margin-left: 7%;
            height: 100%;
          }
          .BOL2 {
            float: left;
            width: 25%;
            margin-top: 15%;
            margin-right: 0;
            margin-left: 7%;
          }
          .BOL3 {
            float: left;
            width: 25%;
            margin-top: 8%;
            margin-right: 0;
            margin-left: 7%;
          }
          .button {
            font-family: 'montserratbold';
            width: 35%;
            border: none;
            color: white;
            text-align: center;
            background-color: #F0652F;
            height: 40px;
            border: none;
            margin: 3% 0% 2% 30%;
          }
          .TWEE_L h2 {
            text-align: center;
            width: 100%;
          }
          .TWEE_L img {
            width: 70%;
            margin-left: 10%;
            filter: grayscale(100%)
          }
          .TWEE_L:hover img {
            width: 70%;
            margin-left: 10%;
            transition: filter 2s;
            filter: none;
          }
          .TWEE_L p {
            text-align: center;
            width: 70%;
            margin: 0;
            margin-left: 10%;
          }
          .TWEE_L button {
            width: 50%;
            margin-left: 25%;
            text-align: center;
          }