body {
  width: 100%;
}

h2 {
  color: #1E7BB7;
}

p {
  font-weight: 400;
  font-size: 0.7em;
}

header {
  background-color: transparent;
}

.OverLay {
  display: none;
}

.Registreer {
  text-decoration: underline;
}


/*---------------------------------*/

.EEN_L {
  background-color: #0E446D;
  padding-bottom: 24%;
}

h1 {
  width: 80%;
  margin: 0% 20% 5% 10%;
  text-align: center;
  color: white;
}

.next {
  display: none;
}

.Zoekbalk {
  height: 30px;
  border: none;
  width: 80%;
  margin: 0% 10%;
  padding: 0;
  padding-left: 1%;
}

.button_M {
  border-radius: 0;
  font-family: 'montserratbold';
  padding: 0;
  border: none;
  color: white;
  box-sizing: border-box;
  background-color: #F0652F;
  height: 30px;
  border: none;
  width: 80%;
  margin: 2% 10%;
}

.button {
  border-radius: 0;
  font-family: 'montserratbold';
  padding: 0;
  border: none;
  color: white;
  box-sizing: border-box;
  background-color: #F0652F;
  height: 30px;
  border: none;
  width: 80%;
  margin: 2% 10%;
}

.EEN_L .button {
  display: none;
}

select {
  font-family: 'montserratregular';
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: white;
  height: 30px;
  border: none;
  width: 80%;
  margin: 2% 10%;
}


/*-----------------------------------*/

.TWEE_L {
  padding-bottom: 10%;
}

.TWEE_L h1 {
  margin-top: 10%;
  color: #0E446D;
}

.TWEE_L h2 {
  text-align: center;
  margin: 10% 0 5% 0;
}

.TWEE_L img {
  width: 60%;
  margin-left: 5%;
  margin: 0 20% 4% 20%;
}

.TWEE_L p {
  text-align: center;
  margin: 5% 5% 5% 5%;
}

.TWEE_L .button {
  width: 60%;
  margin-left: 20%;
}


/*--------------------------------*/

.DRIE_L {
  background-color: #e6e6e6;
  padding-bottom: 10%;
}

.DRIE_L article {
  width: 100%;
  margin: 0 0% 5% 0%;
  background: white;
  overflow: hidden;
}

.DRIE_L h1 {
  padding-top: 10%;
  color: #0E446D;
}

.DRIE_L img {
  width: 100%;
  display: inline;
}

.DRIE_L h2 {
  width: 100%;
  font-size: 1em;
  margin: 5%;
}

.DRIE_L p {
  width: 90%;
  margin: 5%;
}


/*--------------------SOCIAL MEDIA------*/

.VIER_L {
  background-color: #cccccc;
  overflow: hidden;
  display: inline-block;
}

.social {
  padding-bottom: 5%;
}

.VIER_L h1 {
  padding-top: 10%;
  color: #0E446D;
}

.VIER_L article {
  width: 80%;
  margin-bottom: 5%;
  background-color: white;
  margin-left: 10%;
  overflow: hidden;
}

.VIER_L h2 {
  float: left;
  text-align: center;
  width: 70%;
  padding-top: 2%;
}

.VIER_L img {
  width: 10%;
  padding: 2%;
  float: left;
}

.VIER_L .Blog {
  width: 100%;
  margin-left: 0
}

.Blog h2 {
  margin-bottom: 5%;
  text-align: left;
}

.Blog button {
  margin-top: 10%;
}

.VIER_L p {
  margin-top: 5%;
}

.scroll {
  position: relative;
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------MEDIA-------*/

@media screen and (min-width: 650px) {
  .next {
    display: block;
    width: 20%;
    margin-left: 44%;
    margin-top: 10%;
    margin-bottom: 2%;
    filter: grayscale(80);
  }
  .next:hover {
    filter: grayscale(0);
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {
    background-color: white;
    color: #F0652F;
    border: solid #F0652F;
    cursor: pointer;
  }
  .EEN_L {
    box-sizing: border-box;
    background: fixed;
    height: 100%;
    padding: 0;
    width: 100%;
    background-image: url("../images/Homepage/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .EEN_L h1 {
    margin-top: 10%;
  }
  .Zoekbalk {
    height: 40px;
    width: 70%;
    margin: 0% 0% 0% 10%;
  }
  .EEN_L .button {
    display: inline;
    height: 40px;
    width: 100px;
    margin: 0% 0%;
    border-radius: 0px;
    font-family: 'montserratbold';
    padding: 0;
    border: none;
    color: white;
    box-sizing: border-box;
    background-color: #F0652F;
    text-decoration: none;
  }
  .EEN_L .button:hover {
    border: none;
    background-color: white;
    color: #F0652F;
  }
  .details {
    width: 71.4%;
    margin-left: 10%;
  }
  .EEN_L .button_M {
    display: none;
  }
  .type_vastgoed {
    margin-left: 0%;
  }
  select {
    height: 40px;
    width: 32.5%;
    margin: 0.8% 0%;
  }
  /*---------------WIE---------------------*/
  .OverLay {
    display: block;
    z-index: -2;
    padding-bottom: 50%;
    width: 100%;
    position: absolute;
  }
  .X {
    position: relative;
    width: 100%;
  }
  .Appear {
    display: block;
    float: left;
    z-index: -1;
    padding-bottom: 70%;
    width: 100%;
    position: absolute;
    background-color: white;
    -webkit-transition: margin-left 2s;
    transition: margin-left 2s;
  }
  .TWEE_L:hover .Appear {
    margin-left: 100%;
  }
  .TWEE_L {
    overflow: hidden;
    padding-bottom: 5%;
  }
  .TWEE_L h1 {
    width: 70%;
    margin: 5% 15% 0% 15%;
    text-align: center;
    font-size: 40px;
  }
  .BOL1 {
    float: left;
    width: 20%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 10%;
    height: 100%;
  }
  .BOL2 {
    float: left;
    width: 20%;
    margin-top: 10%;
    margin-right: 0;
    margin-left: 10%;
  }
  .BOL3 {
    float: left;
    width: 20%;
    margin-top: 5%;
    margin-right: 0;
    margin-left: 10%;
  }
  .button {
    font-family: 'montserratbold';
    width: 70%;
    border: none;
    color: white;
    text-align: center;
    background-color: #F0652F;
    height: 40px;
    border: none;
    margin: 3% 0% 5% 10%;
  }
  .TWEE_L h2 {
    text-align: center;
    width: 70%;
    margin-left: 15%;
  }
  .TWEE_L img {
    width: 80%;
    margin-left: 10%;
    filter: grayscale(100%)
  }
  .TWEE_L:hover img {
    transition: filter 2s;
    filter: none;
  }
  .TWEE_L p {
    text-align: center;
    font-size: 0.8em;
    width: 70%;
    margin: 0;
    margin-left: 15%;
  }
  .TWEE_L .button {
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    text-align: center;
  }
  /*---------------NIEUWS--------------*/
  .DRIE_L {
    box-sizing: border-box;
    overflow: hidden;
    background: fixed;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/Homepage/Background.2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .DRIE_L .button:hover {
    border: none;
  }
  .DRIE_L h1 {
    width: 80%;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0% 20% 0% 10%;
    text-align: center;
    font-size: 40px;
  }
  .DRIE_L article {
    background-color: white;
    width: 40%;
    margin-left: 6.5%;
    padding: 0;
    float: left;
    overflow: hidden;
    margin-right: 0;
  }
  .DRIE_L img {
    border-radius: 100%;
    margin: 40px 0 0 0;
    height: 30%;
    width: 30%;
    margin-left: 5%;
    padding: 0;
    float: left;
  }
  .DRIE_L p {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 15%;
    top: 0;
  }
  .DRIE_L h2 {
    font-family: 'montserratbold';
    color: #0E446D;
    font-size: 1.2em;
    line-height: 1;
    position: inherit;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 10%;
    padding-bottom: 0%;
    margin-left: 0%;
    margin-top: 10%;
    background: white;
  }
  .Tekst {
    float: left;
    width: 60%;
    margin-left: 2%;
  }
  .DRIE_L .button {
    font-family: 'montserratbold';
    height: 40px;
    margin: 5% 0;
    width: 14%;
    float: right;
    margin: 3% 7% 5% 0%;
  }
  /*---------------------------------SOCIAL MEDIA-----*/
  .VIER_L {
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 4%;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
  }
  .VIER_L h1 {
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0% 20% 0% 10%;
    text-align: center;
    font-size: 40px;
  }
  .social {
    float: left;
    margin-left: 5%;
    width: 30%;
    height: 50%;
  }
  .VIER_ .VIER_L article {
    background-color: white;
    float: left;
    width: 100%;
    margin: 0 0 10% 2%;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
  .VIER_L img {
    border-radius: 100%;
    margin: 2% 0% 2% 3%;
    height: 30%;
    width: 15%;
    padding: 0;
    float: left;
    color: black;
  }
  .VIER_L p {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 10%;
    top: 0;
  }
  .VIER_L h2 {
    font-family: 'montserratbold';
    color: #0E446D;
    font-size: 1.2em;
    line-height: ;
    position: inherit;
    top: 0;
    text-decoration: none;
    opacity: 0.8;
    width: 110%;
    padding-bottom: 0%;
    margin-top: 8%;
    background: white;
  }
  .FB h2 {
    color: #475BA1;
  }
  .Twitter h2 {
    color: #6CADDF;
  }
  .Twitter h2 {
    color: #6CADDF;
  }
  .VIER_L .Blog {
    min-height: 182px;
    float: left;
    width: 60%;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 54%;
  }
  .Blog p {
    width: 95%;
    margin-left: 0;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .Blog h2 {
    width: 80%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
  }
  .Blog h3 {
    font-family: "montserratlight";
    margin-top: 0%;
  }
  .Blog .button {
    font-family: 'montserratbold';
    height: 40px;
    width: 25%;
    float: right;
    margin: 3% 6% 2% 0%;
  }
  .scroll {
    position: relative;
    margin: 0% 5% 0% 15%;
    width: 80%;
    float: left;
    overflow: scroll;
  }
  .Blog img {
    width: 6%;
    float: left;
  }
  .VIER_L .link:hover {
    box-sizing: border-box;
    background-color: #F0652F;
    color: white;
  }
  .VIER_L .link:hover h2 {
    color: white;
  }
  .link:hover h2 {
    background-color: #F0652F
  }
  .scroll {
    position: relative;
    overflow: auto;
    margin-top: 0%;
    height: 160px;
    width: 78%;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 0%;
  }
}


/*------------------------------------*/

@media screen and (min-width: 860px) {
  select {
    width: 32.8%;
  }
}