  @font-face {
  font-family: 'montserratbold';
  src: url('../font/montserrat-bold-webfont.woff2') format('woff2'), url('../font/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemibold';
  src: url('../font/montserrat-semibold-webfont.woff2') format('woff2'), url('../font/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('../font/montserrat-light-webfont.woff2') format('woff2'), url('../font/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('../font/montserrat-regular-webfont.woff2') format('woff2'), url('../font/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 650px) {
    a.menu-knop {
        display: none;
    }
    
    a.logo:link,
    a.logo:visited,
    a.logo:hover,
    a.logo:active {
        margin-left: 0;
        
    }

    .container {
        max-width: 75%;
        margin: 0 auto;
        position: relative;
    }
    
    div.container nav {
        display: block;
        float: right;
        width: 69%;
        clear: none;
        position: relative;
        z-index:3;
    }
    
    header nav {
    clear: both;
}
    
    header nav ul li a:link,
    header nav ul li a:visited,
    header nav ul li a:active {
        display: block;
        float: left;
        width: 25%;
        margin-top: 1.75em;
        
        border-bottom: 2px solid white;
    }
    
    header nav ul li a:hover {
        border-bottom: 2px solid #F0652F;
    }
    
    header div.menu-line {
        height: 2px;
        background-color: white;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 2;
        
    }
    
    header ul#register {
        width: 240px;
        float: right;
        display: block;
        
    }
    
    header ul#register li a:link,
    header ul#register li a:visited,
    header ul#register li a:active {
        float: left;
        color: white;
        padding: 0.5em;
        font-family: 'montserratregular';
        font-size: 0.8em;
        text-decoration: none;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        margin-bottom: 1em;
    }
    
    header ul#register li a:hover {
        border-bottom: 2px solid #F0652F;

    }

    
    header ul#register li:first-child a:link,
    header ul#register li:first-child a:visited,
    header ul#register li:first-child a:active {
        background-color: #F0652F;
        border-left: 2px solid white;
    }
    
    header ul#register li:first-child a:hover {
        background-color: white;
        color: #F0652F;
    }

}
@media screen and (min-width: 750px) {
    main#login ul#voordelen {
        float: right;
        display: block;
        width: 45%;
    }
    
    main#login form#registreren {
        float: left;
        width: 50%;
    }
    
    main#login form#login {
        max-width: 400px;
        display: block;
        width: 100%;
        margin: 1em auto;

    }
    
    main#login form#login a img {
        max-width: 200px;
    }
    
    
    main#nieuws a.nieuwsartikel:nth-child(odd) {
        width: 49%;
        display: block;
        float: left;
    }
    
    main#nieuws a.nieuwsartikel:nth-child(even) {
        width: 49%;
        display: block;
        float: right;
    }
}