footer {
  height : 50px;
}
.photo-container-s p{
  text-align : center;
  display : inline-block;
  color : white;
  padding : 50px 10%;
}
.photo-container-s {
  background-color : #0E446D;
  color : white;
}
.photo-container-s:first-of-type{
  background-color : white;
  color : #0E446D;
}
.photo-container-s:first-of-type p{
  color : #0E446D;
}

.photo-container-s img{
  width: 100%;
  position: relative;
  margin : 0 auto 0 auto;
  display : block;
}
.photo-container-s figure{
  position: relative;
  display : block;
  width : 100%;
}
.photo-container-s figcaption{
  color : white;
  display : block;
  text-align : center;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top : 0;
  padding : 10px 10px;
  left: 0;
  z-index : 5;
  background-color : rgba(10,10,10,0.5);
}

.overons h3 {
  padding : 30px 10px 15px 10px;
}
/*----------------------------------TEXT CONTAINER-------------------------------*/
.text-container-s{
  background-color : #E2E0DF;
  color : black;
  border-left: 2px solid #0E446D;
  border-right: 2px solid #0E446D;
  border-bottom: 2px solid #0E446D;
}
.text-container-s p {
  color : black;
  padding : 0px 10px 20px 10px;
  font-size : 12px;
}
.text-container-s:nth-of-type(3){
  background-color : #58595B;
  border-bottom: 0px solid #0E446D;
}
.text-container-s:nth-of-type(3) p{
  color : white;
}
/*---------------------------------------QUERRIES------------------------------------*/
@media screen and (min-width: 480px) {
  .photo-container-s figure{
    width : 250px;
    display : block;
    margin : 0;
  }
  .photo-container-s p {
    display : inline-block;
    text-align : center;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top : 0;
    padding : 30% 25px;
    left: 250px;
    z-index : 5;
  }
  .text-container-s p {
    display : inline-block;
    margin : 0;
    width : 80%;
    padding-left : 10%;
    font-size : 14px;
  }
}
@media screen and (min-width: 650px) {
  .photo-container-s figure{
    display : inline-block;
    left : 0;
    width : 33.3333%;
    float : left;
  }
  .photo-container-s img{
     
  }
  .photo-container-s p {
    position : static;
    left : 0;
    top : 0;
  }
  .photo-container-s {
    clear : both;
    width : 100%;
    margin : 0;
    height : 470px;
  }
  .text-container-s {
    clear : both;
    width : 100%;
    margin : 0;
  }
  .overons h2 {
    width : 850px;
    margin : 50px auto 5px auto;
  }
  .overons hr {
    width : 800px;
    margin : 0px auto 1px auto;
  }
}
@media screen and (min-width: 800px) {
   .photo-container-s {
    clear : both;
    width : 800px;
    margin : 0 auto;
    height : 480px;
  }
  .text-container-s {
    clear : both;
    width : 796px;
    margin : 0 auto;
  }
}