section.photo-container-s {
  background-color : #0E446D;
  color : white;
}
section.photo-container-s:first-of-type{
  background-color : white;
  color : #0E446D;
}
section.text-container-s{
  background-color : #E2E0DF;
  color : black;
}
section.text-container-s:nth-of-type(3){
  background-color : #58595B;
  color : white;
}
.photo-container-s img{
  width: 50%;
  position: relative;
  margin : 1% auto 10% auto;
}
.photo-container-s figure{
  position: relative;
}
.photo-container-s figcaption{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index : 5;
}