.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0; height: 0;
}
.overons p {
  margin-top : 0px;
  margin-bottom : 0px;
}
.photo-container-s p{
  text-align : center;
  color : white;
  background-color : #0E446D;
  padding : 50px 10%;
}
.photo-container-s {
  background-color : #0E446D;
  color : white;
}
.photo-container-s:first-of-type{
  background-color : white;
  color : #0E446D;
}
.photo-container-s:first-of-type p{
  color : #0E446D;
  background-color : white;
}

.photo-container-s img{
  width: 100%;
  display : block;
}
.photo-container-s div{
  width : 100%;
}
.photo-container-s figure{
  position: relative;
  display : block;
  width : 100%;
  background-color : #0E446D;
}
.photo-container-s:first-of-type figure {
  background-color : white;
}

.photo-container-s figcaption{
  color : white;
  display : block;
  text-align : center;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top : 0;
  padding : 10px 10px;
  left: 0;
  z-index : 5;
  background-color : rgba(10,10,10,0.5);
}

.overons h2 {
  padding : 30px 10px 15px 0px;
  margin-left : 10px;
  margin-right : 10px;
  margin-top : 0px;
}
.overons h1 {
  margin-left : 5px;
}
/*----------------------------------TEXT CONTAINER-------------------------------*/
.text-container-s{
  background-color : #b3b4b7;
  color : black;
/*
  border-left: 2px solid #0E446D;
  border-right: 2px solid #0E446D;
  border-bottom: 2px solid #0E446D;
*/
}
.text-container-s p {
  color : black;
  padding : 0px 10px 20px 10px;
  font-size : 12px;
}
.text-container-s:nth-of-type(3){
  background-color :  #E2E0DF;
/*  border-bottom: 0px solid #0E446D;*/
}
.text-container-s:nth-of-type(3) p{
  color : black;
}
/*---------------------------------------QUERRIES------------------------------------*/
@media screen and (min-width: 440px) {
  .photo-container-s div {
    100%;
  }
  .photo-container-s figure {
    width : 50%;
    display : block;
    float : left;
  }
  .photo-container-s p {
    box-sizing : border-box;
    width : 50%;
    padding : 15% 2% 0 2%;
    margin : 0 auto;
    text-align : center;
    float : left;
  }
}
@media screen and (min-width: 650px) {
  .photo-container-s figure{
    width : 100%;
  }
  .photo-container-s div{
    width : 33.333%;
    float : left;
    clear : none;
  }
  .photo-container-s p {
    box-sizing : border-box;
    width : 100%;
    height : 175px;
    margin : 0 auto;
    padding : 15% 10%;
  }
  .photo-container-s {
    clear : both;
    width : 100%;
    /*height : 480px;*/
  }
  .text-container-s {
    clear : both;
  }
  .text-container-s p {
    padding-left : 5%;
    padding-right : 5%;
  }
  .overons h1 {
   margin-top : 50px;
  }
  .overons hr {
    width : 800px;
    margin : 0px auto 1px auto;
  }
  .overons h2{
     margin-left : 5%;
  }
}
@media screen and (min-width: 800px) {
  .overons hr {
    margin-left : 12.5%;
    width : 75%;
  }
  .overons h1 {
    margin-left : 12.5%;
  }
  .photo-container-s {
    clear : both;
    width : 75%;
    margin : 0 auto;
    height : 200%;
  }
  .photo-container-s figure {
    display : block;
  }
  .text-container-s {
    clear : both;
    width : 75%;
    margin : 0 auto;
  }
}