  /* ----------------------------------
        FONTS
---------------------------------- */
  
  @font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'), url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratsemibold';
    src: url('../font/montserrat-semibold-webfont.woff2') format('woff2'), url('../font/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff2') format('woff2'), url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'), url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

/*DetailPagina*/

.clearfixd:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

.detailpand{
    width: 80%;
    margin: 0 auto;
    display: block;
}

/*
.detailpand h1{
    font-family: 'montserratbold';
    color: #0E446D;
    font-size: 1.2em;
}
*/
.detailpand hr{
    margin: 0;
}

.detailpand .adres{
    font-family: 'montserratregular';
    color: darkgray;
    font-size: 0.8em;
    width: 80%;
    margin: 8px 0px;
    float: left;
}

.detailpand h2{
    color: darkgrey;
}

.limbo{
    width: 100px;
    height: 50px;
    margin-top: 7px;
}

.panduitleg{
    width: 60%;
    margin: 0;
    float: left;
}

.panduitleg img{
    width: 75%;
    margin: 0 auto;
    display: block;
}

.dbutton, .cbutton{
    font-family: 'montserratregular';
    color: white;
    font-size: 1em;
    margin: 15px 100px;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

.dbutton{
    background-color: #F0652F;
}

.cbutton{
    background-color: #0E446D;
}
/*
.panduitleg h3{
    font-family: 'montserratregular';
    color: darkgray;
    font-size: 1em;
}
*/

.panduitleg article p{
    font-weight: 600;
}

.panduitleg table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

.panduitleg th, .panduitleg td{
    border: 1px solid #d9d9d9;
}

.vergunningen th{
    font-family:'montserratbold';
    color: black;
    background-color: #f2f2f2;
    font-size: 0.7em;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.vergunningen td{
    font-family:'montserratregular';
    color: black;
    font-size: 0.7em;
    padding: 10px;
    font-weight: 600;
}

/*
.detailpand h4{
    font-family: 'montserratbold';
    color: #0E446D;
    font-size: 1em;
    margin-top: 50px;
}
*/

.brugshuisje{
    width: 32%;
    margin: 0 4px 0 0;
    display: inline-block;
}

.brugshuisje:last-of-type{
    margin: 0;
}
.panduitleg figure{
    margin: 0;
}

.brugshuisje figcaption{
    font-family:'montserratregular';
    color: black;
    font-size: 0.7em;
    margin: 2px 0;
    text-align: center;
}

.brugshuisje table, .brugshuisje th, .brugshuisje td{
    border: hidden;
    width: 100%;
    align-content: center;
}

.brugshuisje th{
    font-family: 'montserratbold';
    color: black;
    font-size: 0.4em;
    width: 50%;
    text-align: left;
    padding: 5px 10px 3px 25px;
}

.brugshuisje td{
    font-family: 'montserratregular';
    color: grey;
    font-size: 0.2em;
    padding-right: 10px;
}

.pandtables{
    width: 28%;
    margin-top: 40px;
    float:right;
}
.pandtables th{
    font-family: 'montserratregular';
    color: grey;
    font-size: 0.6em;
    text-align: left;
    padding-bottom: 5px;
}

.pandtables td{
    font-family: 'montserratregular';
    color: #0E446D;
    font-size: 0.6em;
    font-weight: 600;
    padding-bottom: 30px;
}

.financieeldetail{
    margin-top: 25px;
}

.financieeldetail td{
    padding: 5px 0;
}