  /* ----------------------------------
        FONTS
---------------------------------- */
  
  @font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'), url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratsemibold';
    src: url('../font/montserrat-semibold-webfont.woff2') format('woff2'), url('../font/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff2') format('woff2'), url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'), url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

/*DetailPagina*/

.clearfixd:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

a{
    text-decoration: none;
}
.detailpand{
    width: 75%;
    margin: 0 auto;
    display: block;
}


.detailpand hr{
    margin: 0;
}

.detailpand h3{
    margin: 10px 0;
}
.detailpand .adres{
    font-family: 'montserratlight';
    color: darkgray;
    font-size: 0.8em;
    width: 85%;
    margin: 8px 0px;
    float: left;
}

.detailpand h2{
    color: darkgrey;
    margin: 30px 0 30px 0;
}

.limbo{
    width: 100px;
    height: 50px;
    margin-top: 7px;
}

.panduitleg{
    width: 60%;
    margin: 0;
    float: left;
}

.panduitleg img{
    width: 75%;
}

.dbutton, .cbutton{
    font-family: 'montserratregular';
    color: white;
    font-size: 1em;
    width: 75%;
    margin: 15px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

.panduitleg a{
    text-decoration: none;
}
.dbutton{
    background-color: #F0652F;
}

.cbutton{
    background-color: #0E446D;
    margin-bottom: 30px;
}

.dbutton:hover{
    background-color: #dc4910;
    text-decoration: underline;
}

.cbutton:hover{
    background-color: #082840;
    text-decoration: underline;
}

.panduitleg article p{
    margin-bottom: 30px;
}

.panduitleg table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

.panduitleg th, .panduitleg td{
    border: 1px solid #979797;
}

.vergunningen th{
    font-family:'montserratregular';
    font-weight: 600;
    color: black;
    background-color: #f0efef;
    font-size: 0.7em;
    padding: 10px;
    text-align: left;
}

.vergunningen td{
    font-family:'montserratregular';
    color: #0E446D;
    font-size: 0.7em;
    padding: 10px;
}

.brugshuizen{
    width: 100%;
    margin: 50px auto;
}

.brugshuizen:last-of-type{
    margin-right: 0;
}

.brugshuisje{
    font-family:'montserratbold';
    color: black; 
    font-size: 1em;
    padding: 0;
    text-align: center;
    background-color: 	#FFFAFA;
    width: 30%;
    display: inline-block;
    border: 3px solid darkgrey;
    border-radius: 7px;
    margin-right: 2%;
}

.brugshuisje img{
    width: 100%;
}

.brugshuisje p{
    font-family:'montserratbold';
    color: black; 
    font-size: 1em;
    padding: 5px 0;
    text-align: center;
    border-bottom: 3px solid darkgrey;
}

.brugshuisje .bekijkd{
    border: 0;
    color: white;
    background-color: #F0652F;
    border-radius: 5px;
}

.brugshuisje .bekijkd:hover{
    border: 0;
    color: white;
    text-decoration: underline;
    background-color: #dc4910;
    border-radius: 5px;
}

.brugshuisje table, .brugshuisje th, .brugshuisje td{
    border: hidden;
    width: 100%;
    margin: 0;
}

.brugshuisje th{
    font-family: 'montserratlight';
    color: grey;
    font-weight: 600;
    font-size: 0.8em;
    width: 50%;
    text-align: left;
    padding: 10px 15px;
}

.brugshuisje td{
    font-family: 'montserratregular';
    color: #0E446D;
    font-size: 0.7em;
    padding-right: 15px;
    text-align: right;
}

.pandtables{
    width: 35%;
    margin-top: 10px;
    float:right;
}

.pandtables table{
    width: 100%;
    margin-bottom: 60px;
}

.pandtables th{
    font-family: 'montserratlight';
    color: grey;
    font-size: 1em;
    text-align: left;
    padding-bottom: 20px;
}

.pandtables td{
    font-family: 'montserratlight';
    color: #0E446D;
    font-size: 1em;
    padding-bottom: 50px;
}

.financieeldetail td, .financieeldetail th{
    color: white;
    padding: 10px 10px;
}

.financieeldetail td{
    text-align: right;
} 

.financieeldetail1{
    background-color: #0E446D;
}

.financieeldetail2{
    background-color: #58595B;
}

.financieeldetail3{
    background-color: #9e9c9c;
}

.financieeldetail4{
    background-color: #58595B;
}

.pandtables h3{
    background-color: #0E446D;
    color: white;
    padding: 10px 0 10px 10px;
    margin: 0;
}

.pandtables iframe{
    width: 100%;
    margin-bottom: 60px;
}

.pandtables .delenvia{
    text-align: center;
    color: white;
    background-color: #F0652F;
    padding: 10px 0 10px 0;
    margin: 0;
    width: 99.5%;
}

.socialmediad{
    background-color: #F0652F;
}

.socialmediad td{
    color: white;
}

.pandtables ul{
    text-align: center;
}
.pandtables li{
    display: inline;
    width: 33%;
    height: 30px;
    float: left;
    background-color: #F0652F;
    color: white;
    padding: 5px 0 0 0;
    border-top: 1px solid white;  
    margin-bottom: 50px;
}

.pandtables li:hover{
    background-color: #dc4910;
}
.pandtables li img{
    width: 20%;
}

.pandtables li .email{
    width: 20%;
    padding: 3.5px 0;
}
.fb{
    border-left: 1px solid white;
    border-right: 1px solid white;
}


/*Mediaqueries*/

@media screen and (max-width: 650px){

    .detailpand{
        width: 90%;
    }  
    .limbo{
    width: 60px;
    height: 30px;
}
    .panduitleg{
        width: 100%;
}
    .panduitleg img{
    width: 100%;
}
    .dbutton, .cbutton{
    width: 100%;
}
    .pandtables{
    width: 100%;
    margin-top: 10px;
    float: none;
}
    .pandtables li{
        height: 30px;
        width: 33%;
    }
    .pandtables li .email{
        padding-bottom: 5px;
        width: 15%;
}
     .pandtables li img{
        width: 15%;
}

    .vergunningen{
        font-size: 0.8em;
    }
    .panduitleg article p{
        font-size: 0.8em;
    }
    .brugshuisje{
        padding: 0;
        margin-right: 0.5%;
}
    .brugshuisje th{
    font-size: 0.5em;
        padding: 10px 7px;
}
    .brugshuisje td{
    font-size: 0.3em;
        padding-right: 7px;
}


}

@media screen and (max-width: 1024px){
   
    .detailpand{
        width: 85%;
    }
    .detailpand .adres{
        width: 75%
    }
    .pandtables li{
        display: inline;
        height: 20px;
        width: 33%;
}
    .pandtables{
        font-size: 0.9em;
    }
    .financieeldetail td, .financieeldetail th{
        font-size: 0.8em;
        padding: 10px 10px;
    }
    .vergunningen{
        font-size: 0.8em;
    }
    .brugshuisje{
        margin-right: 1%;
    }
}
    
    