  /* ----------------------------------
        FONTS
---------------------------------- */
  
  @font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'), url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratsemibold';
    src: url('../font/montserrat-semibold-webfont.woff2') format('woff2'), url('../font/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff2') format('woff2'), url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'), url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  /*--------------------------------------*/
  
/*
  h1 {
    font-family: 'montserratbold';
    color: #1E7BB7;
    font-size: 2em;
  }
  
  h2 {
    font-family: 'montserratbold';
    color: #1E7BB7;
    font-size: 1.5em;
  }
  
  h3 {
    font-family: 'montserratbold';
    color: #1E7BB7;
    font-size: 1em;
  }
  
  h4 {
    font-family: 'montserratbold';
    color: #1E7BB7;
    font-size: 0.7em;
  }
  
  h5 {
    font-family: 'montserratbold';
    color: #1E7BB7;
    font-size: 0.5em;
  }
  
  p {
    font-family: 'montserratregular';
    color: black;
    font-size: 1em;
  }
*/
  /*---------------------------------------*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

.detailpand{
    width: 80%;
    margin: 0 auto;
}

.detailpand h1{
    font-family: 'montserratbold';
    color: #0E446D;
    font-size: 1.2em;
}
.detailpand hr{
    margin: 0;
}

.detailpand .adres{
    font-family: 'montserratregular';
    color: darkgray;
    font-size: 0.8em;
    width: 80%;
    margin: 8px 0px;
    float: left;
}

.detailpand h2{
    font-family: 'montserratbold';
    color: #0E446D;
    font-size: 1.5em;
}

.limbo{
    width: 85px;
    height: 35px;
    margin-top: 4px;
}

.panduitleg{
    width: 70%;
    margin: 0;
    float: left;
}

.panduitleg img{
    width: 90%;
    height: auto;
    margin: 0;
}

.dbutton, .cbutton{
    font-family: 'montserratregular';
    color: black;
    font-size: 0.8em;
    margin: 10px auto;
    text-align: center;
}

.panduitleg h3{
    font-family: 'montserratregular';
    color: darkgray;
    font-size: 1em;
}

.panduitleg article p{
    font-family: 'montserratregular';
    color: black;
    font-size: 0.8em;
    line-height: 1.1em;
}

.panduitleg table{
    border-collapse: collapse;
}

.panduitleg table, .panduitleg th, .panduitleg td{
    border: 1px solid #d9d9d9;
}

.vergunningen th{
    font-family:'montserratbold';
    color: black;
    background-color: #f2f2f2;
    font-size: 0.6em;
}

.vergunningen td{
    font-family:'montserratregular';
    color: black;
    font-size: 0.6em;
}
