@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../font/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../font/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff2') format('woff2'),
         url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.clearfix {
    clear: both;
}

header {
    background-color: #0E446D;
    font-family: 'montserratsemibold';
    text-transform: uppercase;
}

a.logo:link,
a.logo:visited,
a.logo:hover,
a.logo:active {
    background-image: url(../images/Investr_logo.svg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 1.5em;
    width: 100px;
    text-indent: -9999px;
    
    margin-top: 1.75em;
    margin-left: 1.75em;
}

a.menu-knop:link,
a.menu-knop:visited,
a.menu-knop:active {
    float: right;
    
    text-decoration: none;
    color: white;
    
    border-bottom: 3px solid #0E446D;

    padding: 0.5em 0;
    margin: 1.5em;
}

a.menu-knop:hover {
    display: block;
    float: right;
    
    text-decoration: none;
    color: white;
    
    border-bottom: 3px solid #F0652F;
}

a.menu-knop:focus {
    display: block;
    float: right;
    
    text-decoration: none;
    color: white;
    
    border-bottom: 3px solid #F0652F;
}

header nav {
    clear: both;
}

header nav ul li a:link,
header nav ul li a:visited,
header nav ul li a:active {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    
    font-family: 'montserratregular';
    border-bottom: 3px solid #0E446D;
    padding: 0.5em 0;
}

header nav ul li a:hover {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    
    font-family: 'montserratregular';
    border-bottom: 3px solid #F0652F;
    padding: 0.5em 0;
}

header nav ul li a:focus {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    
    font-family: 'montserratregular';
    border-bottom: 3px solid #F0652F;
    padding: 0.5em 0;
}

header ul#register {
    display: none;
}


/*
Lichtgrijs: #E2E0DF
Licht blauw: #1E7BB7
Donker blauw: #0E446D
Donker grijs: #58595B
Oranje: #F0652F
*/